
footer{
    
    margin-top: 180px;
    background-color: #f9f9f9;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.contenedor-derechos{
    display: flex;
}
.contenedor-derechos p , .lista-derechos li a{
    color: #7c64bf;
    font-weight: 700;
    text-decoration: none;
}

.lista-redes{
    list-style: none;   
    width: 150px;
}
.lista-derechos{
    list-style: none;
}

@media (max-width:425px){
    .contenedor-derechos p , .lista-derechos li a{
        color: #7c64bf;
        font-weight: 700;
        font-size: 15px;
    }
    .lista-redes{
        list-style: none;   
        width: 80px;
    }
}