footer{
    background-color: #f9f9f9;
    padding: 30px;
    position: relative;
    bottom: 0vh;
}

.contenedor-derechos p , .lista-derechos li a{
    color: #7c64bf;
    font-weight: 700;
}
.lista-derechos li a{
    text-decoration: underline;

}
.lista-redes{
    list-style: none;   
    width: 150px;
}
.lista-derechos{
    list-style: none;
}
