footer{
    background-color: #f9f9f9;
    padding: 30px;
    margin-top: 70vh;
}

.contenedor-derechos p , .lista-derechos li {
    color: #7c64bf;
    font-weight: 700;
    text-decoration: underline;
}
.lista-redes{
    list-style: none;   
    width: 150px;
}
.lista-derechos{
    list-style: none;
}
