:root {
  --background: #ededed;
  --boxBackground: #fff;
  --textBlack: #000;
  --textGray: #4a4a4a;
  --textBlue: #147cbb;
  --inputBackground: #f5f5f5;
  --buttonBackground: rgba(65,137,230,0.15);
  --buttonText: #009ee3;
  --borderButton: #009ee3;
  --fontPrincipal: 'Nunito', sans-serif;
    box-sizing: border-box;
    font-size: 16px;
}
body{
  background-color: var(--boxBackground);
  font-family: var(--fontPrincipal);
}