:root  {
  --background: #ededed;
  --boxBackground: #fff;
  --textBlack: #000;
  --textGray: #4a4a4a;
  --textBlue: #147cbb;
  --inputBackground: #f5f5f5;
  --buttonBackground: rgba(65,137,230,0.15);
  --buttonText: #009ee3;
  --borderButton: #009ee3;
  --fontPrincipal: 'Nunito', sans-serif;
    box-sizing: border-box;
    font-size: 16px;
}
body, html { 
  margin:0; 
  padding:0; 
  min-height:calc(100vh); 
} 

body{
  background-color: var(--boxBackground);
  font-family: var(--fontPrincipal);
  transition: 3s all ease;
}

body.dark, body.dark footer,body.dark .slider{
background-color: rgb(56, 50, 65);
}
body.dark .card{
  background-color: rgb(59, 49, 73);
}
body.dark p, body.dark h1, body.dark h2,body.dark h3, body.dark a{
  color: rgb(184, 173, 210);
}

