.contenedor-authentificacion {
    margin: 3rem auto 33rem;
}
.btn-nuevo-usuario{
    margin: 1rem auto;
    display: block;
    background-color: #8fa2cc;
    color: white;
    padding: 5px 10px;
}
.close-titulo{
    display: none;
}